.cart {
  width: 380px;
  height: 100%;
  justify-content: center;
  padding-inline: 10px;
  padding-left: 24px;
  margin-bottom: 10px;
}
.Cart__page {
  width: 100%;
}
.first__cart-content {
  margin-top: 10px;
  display: flex;
  width: 100%;
  gap: 20px;
  background-color: rgb(247, 247, 247);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.For__savings {
  justify-content: space-between;
  display: flex;
  /* padding-right: 15px;
  padding-left: 15px; */
}

.Check_outt-Button button {
  height: 6vh;
  font-size: 20px;
  width: 100%;
  color: #ffffff;
  background-color: #0d354c;
}
.bottle_cart_heading {
  margin-bottom: 15px;
  color: rgb(10, 52, 73);
  font-weight: 700;
  font-size: 12px;
}
.Oz_size {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 12px;
  color: #a7a7a7;
}
.trash__icon {
  text-align: right;
}
.carter_ol {
  display: flex;
  flex-direction: column;
}
.first__cart-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cart_item_quantity {
  justify-content: center;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 20px;
  color: grey;
  gap: 10px;
  max-width: 80px;
  background-color: rgb(218, 218, 218);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.5);
}
.cart_checkout_quantity {
  background-color: rgb(228, 229, 229);
  max-width: 65px;
  padding: 2px;
  justify-content: center;
  border-radius: 20px;
  display: flex;
  gap: 4px;
  cursor: pointer;
}
.product__cart-image {
  background-color: rgb(236, 236, 236);
  width: 120px;
}
.product__cart-image img {
  width: 100%;
  object-fit: cover;
}
.cart__item-detail {
  display: flex;
  justify-content: center;
}
.sp_cp {
  display: flex;
  margin-top: 50px;
  color: rgb(13, 45, 70);
  font-weight: 800;
  font-size: 13px;
}
.sp_cp span {
  color: grey;
}
.sp_cp span {
  text-decoration: line-through;
  padding-right: 5px;
}
.cart__price-save {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}
.For__total {
  display: flex;
  justify-content: space-between;
  /* padding-right: 15px;
  padding-left: 15px; */
}
.Check_out-Button {
  margin-top: 20px;
  width: 100%;
}
.Check_out-Button button {
  height: 8vh;
  font-size: 20px;
  color: #ffffff;
  background-color: #0d354c;
}
@import url("https://fonts.googleapis.com/css?family=Muli");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.empty__text p {
  font-size: 30px;
  color: rgb(10, 64, 81);
  padding-bottom: 30px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.total {
  padding-left: 10px;
  padding-right: 10px;
}
.Check_out-button {
  width: 100%;
  height: 50px;
  background-color: #0d354c;
  color: whitesmoke;
  font-weight: 800;
}


@media screen and (max-width: 470px) {
  .cart {
    margin-top: 20px;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    padding-inline: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 355px) {
  .button__check {
    padding-left: 5px;
    padding-right: 5px;
  }
  .first__cart-content {
    display: flex;
    width: 100%;
    gap: 10px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
}
@media screen and (max-width: 1290px) {
.product__cart-image {
  background-color: rgb(236, 236, 236);
  width: 100px;
}
}