.shop__all_page {
  padding: 50px;
  width: 100%;
}
.shop_all_sub_heading {
  width: 100%;
  text-align: center;
}
.shop_all_sub_heading h1 {
  font-size: 60px;
  padding-bottom: 20px;
  color: rgb(24, 69, 87);
}
.shop_all_sub_heading p {
  color: rgb(24, 86, 105);
}

.shopify {
  color: #153a5b;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  border-style: none;
}
.shpy_img img {
}
.shpy_img img {
  width: 100%;
  height: 100%;
}
.limited_drop {
  display: flex;
  padding-bottom: 50px;
}
.limited_drop-left {
  width: 100%;
  background-color: #153a5b;
  color: white;
  padding-top: 80px;
  padding-right: 70px;
  padding-left: 70px;
  border-radius: 50px 0 0 50px;
}
.limited_drop-left h1 {
  font-size: 35px;
  padding-bottom: 35px;
}
.limited_drop-left p {
  color: rgb(197, 197, 197);
  padding-bottom: 35px;
  font-size: 25px;
}
.limited_drop-right {
  background-color: #153a5b;
  width: 100%;
  border-radius: 0 50px 50px 0;
}
.limited_drop-right img {
  width: 100%;
  border-radius: 0 50px 50px 0;
  height: 100%;
}
#limited {
  padding: 15px;
  border-radius: 100px;
  border-style: solid;
}

@media screen and (max-width: 640px) {
  .limited_drop {
    display: block;
  }

  .limited_drop-right {
    width: 100%;
    background-color: #153a5b;
    color: white;
    padding-top: 80px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 0;
  }

  .limited_drop-left {
    background-color: #153a5b;
    width: 100%;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .limited_drop-right img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  #limited {
    padding: 15px;
    border-style: solid;
  }
}
