.checkout__page {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.field fieldset {
  border: 1px solid #000;
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 60px;
  width: 100%;
}
.field legend {
  color: rgb(19, 107, 129);
  font-weight: 800;
  font-size: 18px;
  background: blck;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}
.pay {
  display: flex;
  flex-wrap: 1;
  gap: 10px;
  width: 100%;
  left: 0;
  padding-top: 30px;
}
.paypal__button {
  background-color: #f0b803;
  border-radius: 10px;
  padding: 10px;
  border-style: none;
  box-shadow: 0px 0px 10px rgb(51, 3, 3);
  color: rgb(7, 43, 54);
  font-size: 20px;
  font-weight: 800;
  align-items: center;
}
.paypal__button span:nth-child(1) {
  color: rgb(17, 127, 170);
}
.paypal__button span:nth-child(2) {
  color: rgb(0, 0, 0);
  font-size: 15px;
}
.paypal__button1 {
  background-color: #f0b803;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  border-style: none;
  box-shadow: 0px 0px 10px rgb(51, 3, 3);
  color: rgb(7, 43, 54);
  font-size: 20px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  line-height: 5px;
}
.paypal__button1 span:nth-child(2) {
  font-size: 25px;
}
.paypal__button2 {
  background-color: #0a0a0a;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
  border-style: none;
  box-shadow: 0px 0px 10px rgb(51, 3, 3);
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 900;
  display: flex;
  gap: 5px;
  line-height: 25px;
}
.paypal__button2 span {
  color: #000;
  font-size: 30px;
  border-radius: 100%;
  background: #1e9600; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff0000,
    #fff200,
    #1e9600
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff0000,
    #fff200,
    #1e9600
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.checkout {
  background-color: rgb(244, 244, 244);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.5);
  width: 400px;
  padding: 30px;
}
.checkout_ul li {
  list-style: none;
}
.Checkout__page {
  width: 100%;
}
.first__checkout-content {
  display: flex;
  width: 100%;
  gap: 20px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.product__Checkout-image {
  background-color: rgb(236, 236, 236);
  width: 100px;
}
.product__Checkout-image img {
  width: 100%;
  object-fit: cover;
}
.cart_checkout_quantity {
  display: flex;
}
.cart_checkout_quantity {
  background-color: rgb(228, 229, 229);
  max-width: 65px;
  padding: 2px;
  justify-content: center;
  border-radius: 20px;
  display: flex;
  gap: 4px;
  cursor: pointer;
}
.For__savings {
  display: flex;
  justify-content: space-between;
}
.Grand__total {
  display: flex;
  justify-content: space-between;
}
.promo a {
  color: rgb(28, 108, 161);
  font-size: 14px;
}
.Email__checkout {
  margin-top: 20px;
}
.Email__checkout form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.continue {
  width: 300px;
}
.continue button {
  width: 100%;
  padding: 20px;
  background-color: #000;
  color: white;
  border-style: none;
  box-shadow: 0px 0px 10px rgb(51, 3, 3);
  border-radius: 20px;
  cursor: pointer;
}
.continue button:hover {
  width: 100%;
  padding: 20px;
  background-color: #000;
  color: white;
  border-style: none;
  box-shadow: 0px 0px 10px rgb(51, 3, 3);
  border-radius: 20px;
  cursor: pointer;
  transform: translateX(-5px);
}
.Email__checkout form input {
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  border-style: none;
  background-color: aliceblue;
  box-shadow: 0px 0px 10px rgb(51, 3, 3);
  cursor: pointer;
}
.newspaper {
  padding-top: 20px;
  align-items: center;
}
.newspaper form {
  display: flex;
  gap: 5px;
}
.newspaper form label {
  color: grey;
  font-size: 15px;
}
.have__account {
  margin-top: 20px;
  display: flex;
  color: grey;
}
.have__account a {
  color: grey;
}

.Shipping,
.Billing,
.Payment {
  color: #12445c;
  padding-top: 20px;
  padding-bottom: 20px;
}


@media screen and (max-width: 1220px) {
  .pay {
    display: block;
    justify-content: center;
    text-align: left;
  }
  .pay__button:nth-child(1) {
    padding-bottom: 10px;
  }
  .pay__button:nth-child(2) {
    padding-bottom: 10px;
  }
  .field fieldset {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1010px) {
  .checkout__page {
    display: block;
    justify-content: space-around;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 590px) {
  .field fieldset {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
  }
}

@media screen and (max-width: 499px) {
  .checkout {
    background-color: rgb(244, 244, 244);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px;
  }
  .field fieldset {
    border: 1px solid #000;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
  }
  .field legend {
    display: none;
  }
  .Email__checkout form {
    display: block;

  }
  .Email__checkout form input{
margin-bottom: 20px;
  }
  .continue button:hover {

    transform: translateY(-1px);
  }
}
@media screen and (max-width: 340px) {
  .checkout__page {
    display: block;
    justify-content: space-around;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* .product__checkout-image {
    background-color: rgb(236, 236, 236);
    width: 120px;
  } */

}
