.first_bootle-buy-page {
  padding-top: 100px;
  padding-bottom: 100px;
}
.image_cont4 {
  width: 60%;
  height: 100vh;
}
.image_cont4 img {
  width: 100%;
}
.buy_content4 {
  height: 100vh;
  width: 40%;
}
.buy-page_content4 {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 200px;
  padding-right: 200px;
}
.buy_content4 h1 {
  font-size: 35px;
  color: rgb(20, 56, 70);
  padding-bottom: 5px;
}
.img1_one {
  background-color: rgb(250, 248, 245);
}
.money_text {
  display: flex;
  padding-top: 10px;
}
/* #cp {
    font-size: 25px;
    color: rgb(35, 101, 128);
    padding-top: 5px;
    padding-right: 10px;
  } */
/* #cp > span {
    text-decoration: line-through;
    color: rgb(145, 215, 224);
  } */
#sp {
  color: white;
  font-size: 15px;
  background-size: cover;
}
#spp > span {
  /* background-color: rgb(35, 101, 128);
  border-radius: 10px;
  padding: 2px; */
}
.money__star {
  padding-top: 10px;
  display: flex;
  padding-bottom: 20px;
}
.money__star a {
  color: rgb(219, 86, 34);
}
.money__star p {
  color: grey;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#size {
  margin-top: 10px;
  color: rgb(14, 56, 68);
  font-size: 15px;
}
.buy_page_butt {
  display: flex;
  margin: 0;
  gap: 5px;
}

.radio__in_button4 {
  padding-bottom: 20px;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: left;
  text-align: center;
}

.radio__in_button4 label,
.radio__in_button4 input {
  width: 100%;
  height: 8vh;
  color: rgb(14, 56, 68);
  background-color: white;
  font-weight: 800;
  font-size: 17px;
  border-color: rgb(177, 174, 174);
  border-style: solid;
  line-height: 4.5vh;
}

.radio__in_button4 input[type="radio"] {
  opacity: 0.011;
  position: absolute;
}

.radio__in_button4 input[type="radio"]:checked + .radio__in_buttonlabel {
  width: 100%;
  height: 8vh;
  color: rgb(14, 56, 68);
  background-color: white;
  font-weight: 800;
  font-size: 17px;
  border-color: rgb(15, 55, 73);
  border-style: solid;
}

.radio__in_button4 label {
  cursor: pointer;
  z-index: 90;
}
.img1_one.scaled {
  transform: scale(1.1);
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}
/* .buy_page_butt {
    padding-top: 5px;
  }
  #oz17  {
    width: 49.8%;
    height: 5vh;
    color: rgb(14, 56, 68);
    background-color: white;
    font-weight: 800;
    font-size: 17px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
  }
  .buy_page_butt button:nth-child(1) {
    margin-right: 2px;
  }
  .buy_page_butt button:focus,
  .buy_page_butt button:active {
    border-color: orange;
  } */
.add-to__cart {
  padding-top: 30px;
}
.add-to__cart button {
  width: 100%;
  height: 5vh;
  color: white;
  background-color: rgb(14, 56, 68);
  font-size: 17px;
}
.loan_text {
  padding-top: 5px;
  text-align: center;
}
.loan_text p {
  padding: 5px;
  color: grey;
}
.loan_text a {
  color: grey;
}
.loan_text a:hover {
  color: rgb(219, 86, 34);
}

/* pop up window */
.overlay_flight_traveldil {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.popup_flight_travlDil h2 {
  color: grey;
  margin-bottom: 20px;
}
.overlay_flight_traveldil:target {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}
.content_flightht_travel_dil h1 {
  padding-top: 25px;
  font-family: "Times New Roman", Times, serif;
}
.popup_flight_travlDil {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  /* border-radius: 5px; */
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}
.popup_flight_travlDil .close_flight_travelDl {
  position: absolute;
  top: 20px;
  right: 30px;
  /* transition: all 200ms; */
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.content_flightht_travel_dil {
  padding-left: 40px;
  padding-right: 40px;
}
.popup_flight_travlDil .content_flightht_travel_dil {
  max-height: 30%;
  overflow: auto;
}
/* for pop pup  */

/* <response bar> */
.progress {
  /* display: inline-flex; */
  height: 100%;
  padding: 5vh 15%;
}

.progress > div {
  display: flex;
  flex-direction: column;
  min-height: 30px;
  position: relative;
  line-height: 20px;
  cursor: default;
  flex: 1;
  text-align: left;
}

.progress > div.right {
  padding-left: 20px;
}

.progress > div.right > div.prev:after {
  transition: none;
}

.progress > div.right > div.current {
  color: #333; /* Adjust color as needed */
  font-weight: bold;
}

.progress > div.right > div.current:before {
  background: #333; /* Adjust color as needed */
  padding: 10px;
  transition: all 0.2s 0.15s cubic-bezier(0.175, 0.885, 0.32, 2);
}

.progress > div > div:before {
  content: "";
  background: #333; /* Adjust color as needed */
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 10px;
  transform: translateX(-50%) translateY(-50%);
  transition: padding 0.2s ease;
}

.progress > div > div:after {
  content: "";
  background: #333; /* Adjust color as needed */
  border-radius: 2px;
  position: absolute;
  left: -20px;
  top: 10px;
  height: 101%;
  width: 2px;
  transform: translateX(-50%);
  transition: height 0.2s ease;
}
/* <response bar> */

.condition_text {
  text-align: left;
  font-size: 20px;
}
.here,
.terms {
  text-align: left;
  font-size: 20px;
}
.close_popup {
  margin-top: 20px;
}
.close_popup button {
  border-radius: 2px;
  width: 100%;
  height: 5vh;
  border-color: rgb(19, 107, 158);
  background-color: white;
  font-size: 17px;
  font-weight: 500;
}
/* for pop up */

.warranty-icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
}
.warranty {
  text-align: center;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
.hydro p {
  font-size: 17px;
  color: grey;
}
.select_butt {
  display: flex;
}
.select_butt button {
  width: 100%;
  text-align: left;
  background-color: transparent;
  border-style: none;
  font-size: 17px;
  color: #1b7092;
  text-transform: capitalize;
}
.select_butt span {
  margin-left: -20px;
  color: #1b7092;
}
.bottle_color_change {
  padding-top: 20px;
  display: flex;
}

/* //////////////////////////// */
body {
  font-family: sans-serif;

  /* background-image: linear-gradient(
          to bottom right,
          #5dade2,
          #7fb3d5,
          #a2a3c3,
          #c67d8f,
          #f4d03f
      ); */
}
fieldset {
  /* margin: 50px;
      padding: 20px; */
  border-radius: 20px;
  /* background-color: rgba(255, 255, 255, 0.1);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  display: inline-flex;
  border: none;
}

legend {
  font-size: 18px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 10px 20px;
  color: rgb(12, 43, 80);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border: 1px solid #141414;
  border-radius: 50%;
  margin-right: 5px;
  background-color: transparent;
  position: relative;
  top: 6px;
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #e9e9e9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  border-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: appear 0.8s;
}

@keyframes appear {
  100% {
    transform: translate(-50%, -50%) scale(0);
    background-color: #ffffff;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.6);
    background-color: #0d0d0e;
  }
  /* 50% {
          transform: translate(-50%, -50%) scale(1.7);
          background-color: #ad97b3;
      }
      55% {
          transform: translate(-50%, -50%) scale(1.6);
      }
      100% {
          transform: translate(-50%, -50%) scale(1);
          background-color: #131313;
      } */
}

.new__add {
  display: flex;
  align-items: center;
  color: #1d556b;
  padding-bottom: 10px;
}
.new__add a {
  text-decoration: none;
  color: #1d556b;
}
.update__one p {
  color: #0e2c38;
}
.inner__button img {
  width: 80px;
  position: relative;
}
.inner__button {
  display: flex;
  height: 70px;
}
.te {
  padding-top: 14px;
  line-height: 20px;
}

.te strong:nth-child(2) {
  text-decoration: line-through;
}

.radioo1 input {
  background-color: #080870;
  border-width: 4px;
  border-color: #e6e6e6;
}
.radioo2 input {
  background-color: #0c0c0c;
  border-width: 4px;
  border-color: #e6e6e6;
}
.radioo3 input {
  background-color: rgb(156, 196, 206);
  border-width: 4px;
  border-color: #e6e6e6;
}
.radioo4 input {
  background-color: rgb(255, 247, 236);
  border-width: 4px;
  border-color: #e6e6e6;
}
.radioo5 input {
  background-color: rgb(202, 170, 201);
  border-width: 4px;
  border-color: #e6e6e6;
}

.img-scale {
  transform: scale(1.2);
}
@media screen and (max-width: 1420px) {
    .buy_page_butt {
        display: block;
      }
      .buy-page_content4 {
        display: flex;
        align-items: center;
        gap: 50px;
        padding-left: 150px;
        padding-right: 150px;
      }
      .new__add {
        display: flex;
        justify-content: space-between;
        max-width: 20%;
      }
      .radio__in_button4 {
        padding-bottom: 20px;
        width: 100%;
        height: 9vh;
        display: flex;
        justify-content: center;
        align-items: left;
        text-align: center;
      }
      
      .radio__in_button4 label,
      .radio__in_button4 input {
        width: 100%;
        height: 9vh;
        color: rgb(14, 56, 68);
        background-color: white;
        font-weight: 800;
        font-size: 17px;
        border-color: rgb(177, 174, 174);
        border-style: solid;
        line-height: 4.5vh;
      }
      
      .radio__in_button4 input[type="radio"] {
        opacity: 0.011;
        position: absolute;
      }
      
      .radio__in_button4 input[type="radio"]:checked + .radio__in_buttonlabel {
        width: 100%;
        height: 9vh;
        color: rgb(14, 56, 68);
        background-color: white;
        font-weight: 800;
        font-size: 17px;
        border-color: rgb(15, 55, 73);
        border-style: solid;
      }
}
@media screen and (max-width: 1180px) {
  .buy-page_content4 {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .buy_page_butt {
    display: block;
  }
  .new__add{
    max-width: 20%;
  }
}

@media screen and (max-width: 980px) {
  .buy-page_content4 {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 910px) {
  .buy-page_content4 {
    display: block;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  .image_cont4 {
    width: 100%;
    height: 100%;
  }
  .buy_content4 {
    width: 100%;
  }
  .buy_page_butt {
    display: flex;
  }
}
@media screen and (max-width: 360px) {
  .buy-page_content4 {
    display: block;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .image_cont4 {
    width: 100%;
    height: 100%;
  }
  .buy_content4 {
    width: 100%;
  }
}



